<<<<<<< HEAD
.body {
=======
body {
>>>>>>> 21613977f564c8cb1b147891ba1efb8cac89be06
    display: flex;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.side-bar {
    width: 20%;
    height: 100vh;
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main-info {
    flex: 1;
<<<<<<< HEAD
    height: 92vh;
    background-color: black;
    overflow: scroll;
    text-align: center;
    color: white;
    padding: 2%;
}
.main-info p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
.main-info img {
    width: 80%;
=======
    height: 100vh;
    background-color: black;
    overflow: scroll;
    color: white;
>>>>>>> 21613977f564c8cb1b147891ba1efb8cac89be06
}